.ptcgp-trade {
  &-title {
    width: 100%;
    text-align: center;
    font-size: 250%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
  }

  &-subtitle {
    width: 100%;
    text-align: center;
    font-size: 150%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
  }

  &_rarity-select {
    display: flex;
    margin-top: 20px;
  }

  &_pokemon-card-container {
    display: flex;
    flex-direction: column;
    margin: 2%;
  }

  &_card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }

  &_submit-button-container {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 2vh;
    left: 0;
    width: 100%;
  }

  &_submit-button {
    width: 70vw;
    max-width: 400px;
    margin: 10px;
  }
}

.poke-card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 8px;
  margin: 8px;
  padding: 10px;
  width: 150px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  max-height: 250px;

  &-image {
    width: 100%;
    border-radius: 8px;
  }
}

.result-popup {
  display: flex;
  flex-direction: column;

  &--table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: "auto";
    padding: 10px;
  }

  &_message {
    font-size: 150%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-top: 20px;

    &--minus {
      position: absolute;
      bottom: 2px;
      right: 20px;
    }
  }
}
